* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin: 0;
	padding: 32px;
	background-color: #074f47;
	font-family: Georgia, Cambria, serif;
}

p {
	margin: 0;
}

button,
input[type="button"],
input[type="submit"] {
	border: none;
	font: inherit;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

button {
	padding: 0;
	background: none;
}

input[type="button"],
input[type="submit"] {
	height: 40px;
	padding: 0 16px;
	background-color: #0000004f;
	border-radius: 20px;
	font-weight: bold;
}

button:hover {
	filter: opacity(0.6);
}

input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #0000009f;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
	opacity: 0.8;
	cursor: inherit;
	pointer-events: none;
}

#scoreboard {
	border-spacing: 4px;
}

#scoreboard tr > * {
	height: 32px;
	padding: 0;
	background-color: #0000004f;
	border-radius: 16px;
	color: #ffffff;
}

#scoreboard tr.total > * {
	font-weight: bold;
}

#scoreboard th {
	padding: 0 16px;
	text-align: right;
	font-weight: normal;
}

#scoreboard .value {
	width: 64px;
	overflow: hidden;
	text-align: center;
}

#scoreboard button.save {
	display: block;
	width: 100%;
	height: 100%;
}

#scoreboard button.save:disabled {
	opacity: inherit;
}

#scoreboard .value.valid button.save:not(:disabled),
#scoreboard .value.invalid button.save:not(:disabled) {
	box-shadow: inset 0 0 12px 4px #000000;
	font-weight: bold;
}

#scoreboard .value.valid button.save:not(:disabled) {
	background-color: #00bf00;
}

#scoreboard .value.invalid button.save:not(:disabled) {
	background-color: #bf0000;
}

tr#grand-total > * {
	color: #ffe787;
}

#track {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

#dice {
	display: flex;
}

#dice > * {
	width: 80px;
	height: 80px;
}

#dice > *:hover {
	filter: invert(1);
}

#dice > .locked {
	filter: invert(0.8);
}

#dice img {
	width: 100%;
	height: 100%;
}

#rolls-count {
	color: #ffffff;
}

#rolls-count span {
	font-weight: bold;
}

@media screen and (width < 480px) {
	body {
		padding: 32px 16px;
	}

	#dice > * {
		width: 60px;
		height: 60px;
	}
}
